<form [formGroup]='stepOne' (ngSubmit)="next()">
    <input type="text" name=""  placeholder="UserName" formControlName='userName' (keyup)='deleteTrue("name")'>
    <div class="errors">
        <p *ngIf="stepOne.controls.userName.hasError('required') && namebut">User Name is empty!!!</p>   
    </div>
    <input type="email" name=""  placeholder="Email" formControlName='email' (keyup)='deleteTrue("email")'>
    <div class="errors">
        <p *ngIf="stepOne.controls.email.hasError('required') && emailbut">Email is empty!!!</p>   
        <p *ngIf="stepOne.controls.email.hasError('pattern') && emailbut">No Email</p>
        
    </div>
    <input type="password" name=""  placeholder="Password" formControlName='password' (keyup)='deleteTrue("pass")'>
    <div class="errors">
        <p *ngIf="stepOne.controls.password.hasError('required') && passbut">Password is empty!!!</p>   
        <p *ngIf="stepOne.controls.password.hasError('minlength') && passbut">Password is min!!!</p>
        <p *ngIf="stepOne.controls.password.hasError('maxlength') && passbut">Password is max!!!</p>
    </div>
    <input type="password" name=""  placeholder="Confirm Password" formControlName='confirmPassword' (keyup)='deleteTrue("conpass")'>
    <div class="errors">
        <p *ngIf="(stepOne.value.password!==stepOne.value.confirmPassword) && conpassbut">Passwords do not coincide</p>
    </div>
    <button >Next</button>
</form>